





/*---------------------------
      Header section 
-----------------------------*/

header{
    /* position: fixed; */
    z-index: 999;
    top: 0;
    width: 100%;
    margin: 0;
}

.header-top{
    background-color: #033F47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 96px;
}

.header-top-text a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 15px;
}
.header-top-text a i{
    text-decoration: none;
    color: #E0F780;
    margin-right: 5px;
    font-size: 16px;
}

.header-top-icon{
    display: flex;
    align-items: center;
}
.header-top-icon li{
    list-style: none;
   
}
.header-top-icon a{
    text-decoration: none;
    color: white;
    width: 24px;
    height: 24px;
    border: 1px solid #E0F780;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    font-size: 14px;
    padding: 2px;
    transition: all 0.5s;
}
.header-top-icon a:hover{
    transform: scale(1.5);
    transition: all 0.8s;
}



.sticky-header{
    padding: 24px 96px;
    background-color: #F8F8F1;
}

.main-menu .main-menu-ul{
    display: flex;
    align-items: center;
    margin: auto;
}

.main-menu .main-menu-ul li{
    list-style: none;
    padding: 17px 24px;
    position: relative;
}

.main-menu .main-menu-ul li a{
   text-decoration: none;
   color: black;
   font-size: 17px;
   font-weight: 400;
}


.main-menu .main-menu-ul .dropdown-menu{
    padding: 0;
    width: 180px;
    height: auto;
    display: block;
    position: absolute;
    top: 80px;
    left: 5%;
    background-color: white;
    border-top: 3px solid black;
    border-radius: 0 0px 5px 5px;
    visibility: hidden;
    transform: rotateX(-90deg);
    transition: all 0.3s ease-out;
}

.main-menu .main-menu-ul li:hover{
    .dropdown-menu{
        transform: rotateX(0deg);
        visibility: visible;
        transition: all 1s;
    }
}

.main-menu .main-menu-ul .dropdown-menu li{
    list-style: none;
    padding: 8px 15px;
}


.main-menu .main-menu-ul .dropdown-menu li a{
    color: #080f10;
    font-weight: 400;
}
.main-menu .main-menu-ul .dropdown-menu li a:hover{
    color: #080f10;
}

.main-menu .main-menu-ul .dropdown-menu li:hover{
    background-color: #E0F780;
    transition: all 0.8s;

}

.main-menu .main-menu-ul .dropdown-menu .second-dropdown{
    padding: 0;
    width: 180px;
    height: auto;
    display: block;
    position: absolute;
    top: 0px;
    right: -100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    visibility: hidden;
    transform: rotateX(-90deg);
    transition: all 0.8s;
}

.main-menu .main-menu-ul .dropdown-menu li:hover{
    .second-dropdown{
        visibility: visible;
        transform: rotateX(0deg);
        transition: all 0.8s;
    }
}

.navbar-btn{
    text-decoration: none;
    background-color: #033F47;
    color: white;
    padding: 18px 24px;
    border-radius: 4px;
    border: 0;
    transition: all 0.5s;
    font-size: 17px;
}
.navbar-btn:hover{
    background-color: #E0F780;
    color: black;
    transition: all 0.5s;
}

.sidebar-menu-area{
    position: fixed;
    right: -485px;
    top: 0;
    width: 465px;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    transition: all 0.5s;
    z-index: 9999;
}

@media (max-width: 560px) {
    .sidebar-menu-area{
        width: 375px;
    }
}

.sidebar-menu-area.active{
    right: 0;
}

.sidebar-menu-heading{
    position: absolute;
    right: 45px;
    top: 35px;
}

.sidebar-menu-close-btn{
    width: 45px;
    height: 45px;
    background-color: #033F47;
    border-radius: 50%;
    color: white;
    border: none;
}

.sidebar-menu-area .sidebar-menu-logo{
    position: relative;
    width: 180px;
}

.sidebar-menu-area .sidebar-menu-logo img{
    width: 100%;
}

.sidebar-menu-wrapper{
    position: relative;
    padding: 40px;
}

.mobile-menu-bar{
    display: none;
}

.mobile-menu-toggle-btn{
    border: none;
    background: none;
    color: black;
    font-size: 25px;
}

.mean-bar .meanmenu-reveal{
    display: none !important;
}

a.meanmenu-reveal{
    display: none;
}

.mobile-nav-menu.mean-container{
    width: 100%;
    padding: 0;
}

.mean-container .mean-bar{
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 999999;
    margin-top: 20px;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i{
    transform: rotate(45deg);
}

.mean-container a.meanmenu-reveal{
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    display: block;
    font-weight: 700;
    margin-right: 15px;
    margin-top: -77px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .mean-container a.meanmenu-reveal{
        margin-top: -65px;
    }
}

.mean-container a.meanmenu-reveal span{
    display: block;
    background-color: #033F47;
    height: 2px;
    margin-top: 5px;
}

.mean-container .mean-nav{
    float: left;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}

.mean-container .mean-nav .main-menu-ul{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;
    padding: 10px;
}

.mean-container .mean-nav .main-menu-ul li{
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #ebecee;
}

.mean-container .mean-nav ul li a{
    display: block;
    float: left;
    padding: 10px;
    margin: 0 0 0 20px;
    text-align: left;
    color: #575959;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
}
.mean-container .mean-nav .main-menu-ul li ul{
    position: relative;
}
.mean-container .mean-nav .main-menu-ul li i{
    display: none;
}

.mean-container .mean-nav .main-menu-ul li .mean-expand{
    margin-right: 20px;
    padding: 0 !important;
    font-size: 30px !important;
    font-weight: 300;
    width: 45px;
    height: 48px;
}
.mean-container .mean-nav .main-menu-ul li .mean-expand:hover{
    background-color: #033F47;
    color: white;
}

.mean-container .mean-nav .main-menu-ul .dropdown-menu{
    border: none;
}

.mean-container .mean-nav .main-menu-ul .dropdown-menu li a{
    padding: 10px 40px;
    font-size: 18px;
}

.mean-container .mean-nav ul li a:hover {
    background: #2c2e3d;
    background: rgba(255, 255, 255, 0.1); 
}

.mean-container .mean-nav .main-menu-ul .dropdown-menu .second-dropdown li a{
    padding: 5px 0px 5px 80px;
}


@media only screen and (max-width: 560px) {
    .header-btn-wrapper{
        display: none;
    }
    .mobile-menu-bar{
        display: block;
    }
    .header-top{
        display: none;
    }
}

/*---------------------------
      Header section 
-----------------------------*/

/*-------------------------------
          Hero Section 2 
--------------------------------*/
.hero-section-2{
    background-color: #F8F8F1;
}

.single-slide{
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    padding: 94px 48px 64px;

}

.slide-container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.hero-slide-content h1{
    font-size: 76px;
    line-height: 92px;
    font-weight: 600;
}
.hero-slide-content h1 span{
    position: relative;
}
.hero-slide-content h1 span img{
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 90%;
}
.hero-slide-content p{
    font-size: 20px;
    margin: 20px 0 40px;

}
.hero-slide-content-btn-1{
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #E0F780;
    border: 1px solid #E0F780;
    margin-right: 10px;
    transition: all 0.5s;
}
.hero-slide-content-btn-1:hover{
    background: none;
    border: 1px solid gray;
    transition: all 0.8s;
}
.hero-slide-content-btn-2{
    padding: 16px 32px;
    border-radius: 4px;
    background: none;
    border: 1px solid gray;
    transition: 0.5s;
}
.hero-slide-content-btn-2:hover{
    background: #E0F780;
    border: 1px solid #E0F780;
    transition: 0.8s;
}

.hero-slide-img{
    border-radius: 0 0 100px 0;
    position: relative;
    z-index: 2;
    overflow: visible;
    margin: 30px 0;
}
.hero-slide-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #080f10;
    border-radius: 0 0 100px 0;
    margin: 25px 0 0 25px;
}

.hero-slide-img img{
    position: relative;
    z-index: 3;
    border-radius: 0 0 100px 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.certified{
    position: absolute;
    top: 31px;
    left: 0;
    transform: translate(-50%, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(224, 247, 128, 0.5);
    width: 135px;
    height: 135px;
    border-radius: 100px;
    z-index: 5;
}
.certified i{
    color: #080f10;
    font-size: 34px;
    position: absolute;
}
.certified .rounded-text{
    width: 115px;
    height: 115px;
    text-transform: uppercase;
    transform: rotate(-106deg);
    color: #fff;
    font-weight: 400;
    z-index: 10;
    font-family: "Outfit", sans-serif;
}
.certified .rotating{
    animation: rotating 12s linear infinite;
}
@keyframes rotating{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.hero-slider-2 .slider-arrow-btn{
    position: absolute;
    width: 64px;
    height: 64px;
    font-size: 20px;
    border-radius: 50%;
    z-index: 99;
    background-color: transparent;
    color: #828282;
    border: 1px solid #828282;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    transition: all 0.5s;
}
.hero-slider-2 .slider-arrow-btn:hover{
    background-color: #E0F780;
    border: #E0F780;
    transition: all 0.8s;
}

.hero-slider-2 .slider-arrow-btn.prev-btn{
    left: 0;
    margin-left: 30px;
}
.hero-slider-2 .slider-arrow-btn.next-btn{
    right: 0;
    margin-right: 30px;
}


@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .hero-slider-2 .slider-arrow-btn{
        position: absolute;
        width: 45px;
        height: 45px;
        top: 100%;
        font-size: 18px;
    }
    .hero-slider-2 .slider-arrow-btn.prev-btn{
        left: 45%;
        margin-left: 0;
    }
    .hero-slider-2 .slider-arrow-btn.next-btn{
        right: 45%;
        margin-right: 0;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    
}
@media only screen and (min-width: 561px) and (max-width: 768px) {
    
}
@media only screen and (max-width: 560px) {
    
    .single-slide{
        position: relative;
        z-index: 2;
        background-size: cover;
        background-position: center center;
        padding: 10px;
        overflow: hidden;
    
    }
    .hero-slide-content-btn-2, .hero-slide-content-btn-1{
        padding: 11px 20px;

    }
    .hero-slide-img{
        width: 80%;
        margin: 30px auto;
    }
    .hero-slide-img::before{
        position: relative;
        border: none;
    }
    
    .hero-slide-content{
        text-align: center;
    }
    .hero-slide-content h1{
        font-size: 34px;
        line-height: 50px;
    }
    .hero-slide-content p{
        font-size: 14px;
        margin: 20px 0 40px;
    
    }

    .certified{
        width: 70px;
        height: 70px;
        top: 50px;
    }
    .certified i{
        font-size: 20px;
    }
    .certified .rounded-text{
        width: 60px;
        height: 60px;
    }
    
    .hero-slider-2 .slider-arrow-btn{
        position: absolute;
        width: 45px;
        height: 45px;
        top: 100%;
        font-size: 18px;
    }
    .hero-slider-2 .slider-arrow-btn.prev-btn{
        left: 35%;
        margin-left: 0;
    }
    .hero-slider-2 .slider-arrow-btn.next-btn{
        right: 35%;
        margin-right: 0;
    }
}

/*-------------------------------
          Hero Section 2 
--------------------------------*/