@import url('https://fonts.cdnfonts.com/css/outfit');

.body{
    background: #F8F8F1;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s;
}

#preloader{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999999;
    right: 0;
    bottom: 0;
    transition: all 1s;
}

#preloader-status{
    background-image: url(../images/preloader.gif);
    /* display: none; */
    width: 210px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 1s;
}

.hero-section{
    background-color: #033F47;

}
.services-section{
    width: 100%;
    background-image: url("../images/services-bg-img.png");
}

/* Common Button style */
.common-btn-1{
    border: 1px solid #E0F780;
    padding: 15px 25px;
    background-color: #E0F780;
    border-radius: 5px;
    font-weight: 500;
}

.common-btn-1:hover{
    background: none;
    border: 1px solid white;
    color: white;
}

.common-btn-2{
    border: 1px solid white;
    color: white;
    padding: 15px 25px;
    background: none;
    border-radius: 5px;
    font-weight: 500;
}

.common-btn-2:hover{
    border: 1px solid #E0F780;
    color: black;
    background-color: #E0F780;
}

.common-btn-3{
    background-color: #E0F780;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
}

.common-btn-3:hover{
    background-color: black;
    color: white;
}

.slick-arrow{
    display: none !important;
}




/* Header section */
.navbar-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-slider .slick-dots{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
}

.hero-slider .slick-dots li{
    list-style: none;
    border: 3px solid transparent;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.hero-slider .slick-dots li button{
    font-size: 0;
    line-height: 14px;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: #c3e4de;
    border-radius: 50%;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border: none;

}

.hero-slider .slick-dots li:hover{
    border: 3px solid #E0F780;
    border-radius: 50%;
    transition: border 1s;
}

.hero-slider .slick-dots .slick-active{
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-color: #e0f780;
}

.hero-slider .slick-dots .slick-active button{
    font-size: 16px;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        background: transparent;
}

header{
    background-color: #033F47;
    top: 0;
    width: 100%;
}

.sticky-header{
    margin: 0 25px;
}

.main-menu ul{
    display: flex;
    align-items: center;
    margin: auto;
}

.main-menu ul li{
    list-style: none;
    padding: 25px;
    position: relative;
}

.main-menu ul li a{
   text-decoration: none;
   color: #fff;
   font-weight: 600;
}

.main-menu ul li a:hover{
    color: #E0F780;
}

.main-menu ul li ul{
    padding: 0;
    width: 180px;
    height: auto;
    display: block;
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: white;
    border-top: 3px solid #E0F780;
    border-radius: 0 0px 5px 5px;
    overflow: hidden;
    visibility: hidden;
    transform: rotateX(-90deg);
    transition: overflow 1s;
}

.main-menu ul li:hover{
    .dropdown-menu{
        transform: rotateX(0deg);
        visibility: visible;
        transition: all 1s;
    }
}

.main-menu ul li ul li{
    list-style: none;
    padding: 8px 15px;
}


.main-menu ul li ul li a{
    color: #080f10;
    font-weight: 400;
}
.main-menu ul li ul li a:hover{
    color: #080f10;
}

.main-menu ul li ul li:hover{
    background-color: #E0F780;
    transition: all 0.5s;

}

.header-btn{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.header-btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #080f10;
    font-size: 18px;
    font-weight: 500;
}

.header-btn a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E0F780;
    color: #033F47;
    margin-right: 10px;
    transition: all 0.5s;
}

.header-btn a:hover{
    .fa-phone-volume{
        background-color: #033F47;
        color: white;
        transition: all 0.5s;
    }
}

.sidebar-menu-area{
    position: fixed;
    right: -485px;
    top: 0;
    width: 465px;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    transition: all 0.5s;
    z-index: 9999;
}

@media (max-width: 560px) {
    .sidebar-menu-area{
        width: 375px;
    }
}

.sidebar-menu-area.active{
    right: 0;
}

.sidebar-menu-heading{
    position: absolute;
    right: 45px;
    top: 45px;
}

.sidebar-menu-area .sidebar-menu-logo{
    position: relative;
    width: 180px;
}

.sidebar-menu-area .sidebar-menu-logo img{
    width: 100%;
}

.sidebar-menu-wrapper{
    position: relative;
    padding: 40px;
}

.mobile-menu-bar{
    display: none;
}

.mean-bar .meanmenu-reveal{
    display: none !important;
}

a.meanmenu-reveal{
    display: none;
}

.mobile-nav-menu.mean-container{
    width: 100%;
    padding: 0;
}

.mean-container .mean-bar{
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 999999;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i{
    transform: rotate(45deg);
}

.mean-container a.meanmenu-reveal{
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    display: block;
    font-weight: 700;
    margin-right: 15px;
    margin-top: -77px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .mean-container a.meanmenu-reveal{
        margin-top: -65px;
    }
}

.mean-container a.meanmenu-reveal span{
    display: block;
    background-color: #033F47;
    height: 2px;
    margin-top: 5px;
}

.mean-container .mean-nav{
    float: left;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}

.mean-container .mean-nav .main-menu-ul{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;
}

.mean-container .mean-nav ul li{
    position: relative;
    float: left;
    width: 100%;
}

.mean-container .mean-nav ul li a{
    display: block;
    float: left;
    padding: 10px 30px;
    margin: 0;
    text-align: left;
    color: #575959;
    border-top: 1px solid #ebecee;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
}
.mean-container .mean-nav .main-menu-ul li ul{
    position: relative;
}
/* 
.mean-container .mean-nav ul li li a{
    width: 80%;
    padding: 10px 60px;
    border-top: 1px solid #ebecee;
    text-shadow: none !important;
    visibility: visible;
}  */

/* .mean-container .mean-nav ul li.mean-last a{
    border-bottom: 0;
    margin-bottom: 0;
} */

/* .mean-container .mean-nav ul li li li a{
    width: 70%;
    padding: 15%;
}

.mean-container .mean-nav ul li li li li a{
    width: 60%;
    padding-left: 20%;
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding-left: 25%; 
} */

.mean-container .mean-nav ul li a:hover {
    background: #2c2e3d;
    background: rgba(255, 255, 255, 0.1); 
}

.body-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

.body-overlay.active{
    opacity: 1;
    visibility: visible;
}

.body-overlay:hover{
    cursor: pointer;
}


/* -------------------
     About section
--------------------- */
.about-us{
    padding-top: 180px;
    margin-bottom: 80px;
    position: relative;
}

.scrolldown-btn-wrapper{
    position: absolute;
    top: -26px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../images/scroll-down-2.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    display: block;
}

.scrolldown-btn{
    margin: 100px 72px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #E0F780;
    width: 135px;
    height: 135px;
    border-radius: 100px;
    position: relative;
}

.scrolldown-btn i{
    color: #080f10;
    font-size: 34px;
    position: absolute;
}

.rounded-text{
    text-transform: uppercase;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: #fff;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.rotating{
    -webkit-animation: rotating 12s linear infinite;
    animation: rotating 12s linear infinite;
}

@keyframes rotating{
    100%{transform: rotate(180deg);}
}


/* ------------------------
      Service section
--------------------------- */
.service-title{
    width: 50%;
}

.services-slider .slick-track{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.service-slide{
    background-color: #fff;
}

.service-slide:hover{
    background-color: #E0F780;
    transition: all 0.5s ease-out;
    opacity: 0.9;

    .service-slide-img{
        transform: rotateY(-360deg);
        transition: transform 0.5s;
    }
}

.service-slide-img{
    transform: rotateY(0deg);
    transition: transform 0.5s;
}


/* ------------------
   Our work process
-------------------- */
.efficient-process{
    background-color: #f8f8f1;
    padding: 100px 0;
}

.efficient-process-title{
    width: 50%;
}

.accordion{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.accordion-title{
    display: flex;
    align-items: center;

}

.accordion li{
    list-style: none;
    padding: 20px 40px;
    background-color: white;
}

.accordion-second{
    margin: 30px 0;
}

.accordion label + input[type="radio"]{
    display: none;
}

.accordion-content{
    display: flex;
    justify-content: end;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion-content p{
    width: 75%;
    color: gray;
}

.accordion label + input[type="radio"]:checked + .accordion-content{
    max-height: 100px;
    transition: max-height 0.5s;
}

.accordion-title img{
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #E0F780;
    border: 1px solid #E0F780;
    border-radius: 50%;
    margin-right: 25px;
}

.accordion-title img:hover{
    border: 1px solid #033F47;
    transition: border 0.8s;
}


.free-consultation{
    background-image: url(../images/free-consultation-bg.png);
    background-color: #033F47;
    padding: 0;
    margin-bottom: 100px;
}


/* ----------------------
      Case studies
------------------------ */
.case-studies{
    background-color: #033F47;
    padding: 80px 0;
}

.case-studies-title{
    width: 50%;
}

.case-slider{
    margin: 50px 0;
}
.case-slider .slick-track{
    display: flex;
    justify-content: space-between;
}

.case-slider h3{
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-top: 30px;
margin-bottom: 20px;
}

.case-slider h3:hover{
    text-decoration: underline;
}

.case-slider .slick-slide{
    margin: 0 25px;
}

.case-slider .slick-slide img:hover{
    transform: scale(1.02);
    transition: all 0.6s;

}

.team-prev-btn, .team-next-btn{
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid #033F47;
    color: #033F47;
    border-radius: 50%;
}

.team-prev-btn:hover, .team-next-btn:hover{
    background: #E0F780;
    color: #033F47;
    border: none;
    transition: all 1s;
}


/* testimonial section */
.testimonial{
    margin: 100px auto;
}

.testimonial-slider{
    margin: 50px 0;
}

.testimonial-slider .slick-arrow::after{
    display: none;
}

.testimonial-slider .slick-arrow::before{
    display: none;
}

.testimonial-prev-btn, .testimonial-next-btn{
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid #033F47;
    color: #033F47;
    border-radius: 50%;
}

.testimonial-prev-btn:hover, .testimonial-next-btn:hover{
    background: #E0F780;
    border: none;
    transition: all 1s;
}

.testimonial-slider-content h5{
    width: 70%;
    text-align: justify;
}




/* Blog & Articles Section */
.blog-articles-section{
    background-color: #033F47;
    padding: 100px 0;
}




/* Team Section */
.team-section{
    padding: 80px 0 50px;
}

.case-prev-btn, .case-next-btn{
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
}

.case-prev-btn:hover, .case-next-btn:hover{
    background: #E0F780;
    border: none;
    transition: all 1s;
}

.team-slider .slick-track{
    display: flex;
    gap: 25px;
}

.team-member-img{
    width: 100%;
    background-image: url(../images/team-bg.png);
}

.team-icons a{
    font-size: 20px;
    text-decoration: none;
    color: #033F47;
    margin: 0 2px;
}

.team-slider .slick-slide:hover{
    transform: scale(1.03);
    transition: all 0.5s;

    .team-slide-content{
        position: absolute;
        top: 215px;
        background-color: #033F47;
        opacity: 0.9;
        color: white;
        width: 100%;
    }

    .team-icons a{
        color: white;
    }
    .team-icons a:hover{
        color: #E0F780;
    }
}


.team-slider .slick-dots{
    display: flex;
    justify-content: center;
}

.team-slider .slick-dots li{
    list-style: none;
    text-align: center;
    margin: 0 10px;
}

.team-slider .slick-dots .slick-active button{
    color: whitesmoke;
    background-color: #575959;
    transform: scale(1.1);
    font-weight: 400;
}

.team-slider .slick-dots li button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
}


/* Brand Logos Section */
.brand-logos{
    display: flex;
    align-items: center;
    background-color: #033F47;
    background-image: url(../images/brand-bg.png);
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer Section */
.footer-section{
    background-color: #F8F8F1;
}

.footer-info p{
    text-align: justify;
    margin: 20px 0;
}

.footer-social-icons a{
    text-align: center;
    text-decoration: none;
    color: #033F47;
    font-size: 15px;
    
}

.footer-social-icons a i{
    width: 45px;
    height: 45px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}

.footer-social-icons a i:hover{
    width: 45px;
    height: 45px;
    padding: 15px;
    background-color: #E0F780;
    border-radius: 50%;
}


.useful-link-menu li{
    list-style: none;
    margin: 10px 0;
}
.useful-link-menu li a{
    text-decoration: none;
    color: #575959;
}
.useful-link-menu li a:hover{
    scale: 50px;
}
.useful-link-menu li a span{
    margin-right: 8px;
}

.footer-contact a{
    text-decoration: none;
    margin-right: 20px;
    color: #033F47;

}


.footer-contact i{
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #033F47;
   border-radius: 50%;

}

.footer-contact i:hover{
    background-color: #E0F780;
    border: none;
}

.footer-newsletter{
    background-color: #033F47;
    color: white;
    padding: 25px 20px;
}

.footer-newsletter input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;
    margin-top: 10px;
    background: none;
}

.footer-newsletter button{
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #E0F780;
    border: 1px solid #E0F780;
    font-weight: 500;
}

.footer-newsletter button:hover{
    background: none;
    color: white;
    border: 1px solid white;

}

.copyright-menu a{
    text-decoration: none;
    color: #575959;
    margin: 0 5px;
}

.copyright-menu a:hover{
    text-decoration: underline;
}





/*-----------------------
      Media quarry 
-------------------------*/
@media only screen and (max-width: 576px) {

    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Header section */
    .menu{
        display: none;
    }

    .header-btn-wrapper{
        display: none;
    }

    .mobile-menu-bar{
        display: block;
    }




    .navbar-container{
        display: block;
    }

    .service-title{
        width: 100%;
    }

    .efficient-process-title{
        width: 100%;
    }

    .slide-btn-top{
        display: none;
    }

    .testimonial-slider-content{
        text-align: center;
    }

    .testimonial-slider-content h5{
        width: 80%;
        margin: 0 auto;
    }

    .case-studies-title{
        width: 100%;
    }
    
    .useful-link-menu{
        margin-left: 15px;
    }

    .copyright-menu a{
        margin: 0 10px 0 0;
    }
}
