@import 'variables';

@mixin commonContent{

};

@mixin btnYellow{
    font-size: 18px;
    padding: 16px 32px;
    background-color: $secondary;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
    @include sm{
        padding: 10px 20px;
        font-size: 16px;
    }

    &:hover{
        background-color: $black;
        color: $white;
        transition: all 0.8s;
    }
};



@mixin sm {
    @media only screen and (min-width: 0px) and (max-width: 575px) {
        @content
    }
};
@mixin md {
    @media only screen and (min-width: 0px) and (max-width: 767px) {
        @content
    }
};

@mixin lg {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  
  @mixin xl {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin xxl {
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      @content;
    }
  }